<ion-content padding>

        <ion-slides pager="true">
            <ion-slide>
                <ion-img src="/assets/g1.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
                <ion-img src="/assets/g2.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
                <ion-img src="/assets/g3.jpg"></ion-img>
            </ion-slide>
        </ion-slides>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-renyuanbaoming"></i>
                        <div>我要报名</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-paobu"></i>
                        <div>我要跑步</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-icon-kaoshijilu"></i>
                        <div>我要考试</div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-shuohuaqipao"></i>
                        <div>我要吐槽</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-02f"></i>
                        <div>我要直播</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-yunduan"></i>
                        <div>我要上天</div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-zhuanqian"></i>
                        <div>虚位以待</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-dengdai"></i>
                        <div>虚位以待</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="applist">
                        <i class="iconfont icon-dafawuliao"></i>
                        <div>虚位以待</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

</ion-content>
